* {
    font-family: 'Roboto', Helvetica, sans-serif;
}

.hero {
    background-color: #1F2937; 
    padding-bottom: 50px;
}

.navigation {
    display: flex;
    list-style: none; 
    gap: 1em;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;

}
.navigation div:first-child {
    margin-right: auto;
}


.header_logo {
    padding-left: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header_link {
    color: #E5E7EB;
    padding-right:15px ;

}

.web_title {
    padding: 100px;
}
.main_text_container {
    color:#F9FAF8;
    display: flex;
    list-style: none; 
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 800px;
}

.leftista {
    flex-grow: 1;
}

.main_text h1 {
    font-size: 48px;
    margin: auto;
    flex-grow: 1;

}
.main_subtext {
    font-size: 18px;
    color: #E5E7EB;
}
.image {
    background-color: #1F2937;
    flex-grow: 1;
    width: 800px;
}

.sign_up {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    font-size: 24px;
    padding: 10px 40px;
    border-radius: 28px;
}
.info_section{
    margin-bottom: 50px;
}

.information {
    padding: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}


.Image_container{
    display: flex;
    width: 100%;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.subtext_container{
    display: flex;
    width: 100%;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    

}

.imgsubtext {
    gap: 30px;
    border: 1px solid firebrick;
}

.boximage {
    height: 150px;
    width: 150px;
    border: 8px solid #3882F6;
    border-radius: 28px;
}

.qq {
    background-color: #E5E7EB;
    padding: 100px;
}
.quote_section {
    display: flex;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    width: 800px;
    height: auto;
    align-items: center;
}
.quote_author {
    font-weight: bold;
    display: flex;
    width: 800px;
    align-items: flex-end;
    border: 1px solid firebrick;
}
.CTA_section{
    padding: 100px;

}

.CTA_container{
    width: 800px;
    height: auto;
    padding: 10px;
    display: flex;
    border: 1px solid firebrick;
    background-color: #3882F6;
    border-radius: 10px;
}


.footer  {
    padding:30px;
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}
